[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Compact JPG to 0.96
Name=Compact JPG to 0.96
Icon=simple-image-reducer
Profiles=foo;

[X-Action-Profile foo]
Exec=/usr/share/file-manager/scripts/compact_jpeg.sh %F
Schemes=file;
MimeTypes=image/jpeg;