[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy 3rd word
Name=Copy 3rd word
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/home/aj/.local/share/file-manager/copy_name.sh 3rd %F
SelectionCount==1