[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy full paths
Name=Copy full paths
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/home/aj/.local/share/file-manager/copy_name_plus.sh /./././ %F
SelectionCount=>1