[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy full paths
Name=Copy full paths
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/usr/share/file-manager/scripts/copy_name_plus.sh /./././ %F
SelectionCount=>1