[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy full path
Name=Copy full path
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/usr/share/file-manager/scripts/copy_name.sh path %F
SelectionCount==1