[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy 1st word
Name=Copy 1st word
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/usr/share/file-manager/scripts/copy_name.sh 1st %F
SelectionCount==1