[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy name.ext
Name=Copy name.ext
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/home/aj/.local/share/file-manager/copy_name.sh namext %F
SelectionCount==1