[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy folder path
Name=Copy folder path
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/usr/share/file-manager/scripts/copy_name.sh folder %F
SelectionCount==1