[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy folder path
Name=Copy folder path
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/home/aj/.local/share/file-manager/copy_name.sh folder %F
SelectionCount==1