[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Copy last word
Name=Copy last word
Icon=edit-select-all
Profiles=foobar;

[X-Action-Profile foobar]
Exec=/home/aj/.local/share/file-manager/copy_name.sh last %F
SelectionCount==1