[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Email (attachment)
Name=Email (attachment)
Icon=thunderbird
Profiles=foo;

[X-Action-Profile foo]
Exec=/usr/share/file-manager/email.sh %F