[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=EXIF information
Name=EXIF information
Icon=exifinfo
Profiles=foo;

[X-Action-Profile foo]
Exec=/home/aj/.local/share/file-manager/exif_info.sh %f
Schemes=file;
MimeTypes=image/*;video/*;
SelectionCount==1