[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Extract here
Name=Extract here
Icon=extract-archive
Profiles=foo;

[X-Action-Profile foo]
Exec=/home/aj/.local/share/file-manager/extract_here.sh %F
MimeTypes=application/octet-stream;application/rar;application/vnd.rar;application/x-rar-compressed;application/epub+zip;application/zip;application/gzip;application/x-zip-compressed;multipart/x-zip;application/7z;application/x-xz;application/x-cab;application/x-gtar;application/x-gtar-compressed;application/x-tar;application/x-ustar;application/x-redhat-package-manager;application/x-debian-package;application/x-iso9660-image;application/x-archive;application/x-cpio;application/x-bzip2;application/x-lzip;application/x-lzma;application/x-compress;application/x-7z-compressed;application/x-arj;application/java-archive;application/x-xar;application/x-zoo;application/;
Schemes=file;