[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Compact: gs/ebook/!
Name=Compact: gs/ebook/!
Icon=simple-image-reducer
Profiles=ebook_small;

[X-Action-Profile ebook_small]
Exec=/usr/share/file-manager/gs.sh ebook_small %F
Schemes=file;
MimeTypes=application/pdf;
