[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Compact: gs/ebook
Name=Compact: gs/ebook
Icon=simple-image-reducer
Profiles=ebook;

[X-Action-Profile ebook]
Exec=/usr/share/file-manager/gs.sh ebook %F
Schemes=file;
MimeTypes=application/pdf;
