[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Mount Disk/Image
Icon=gtk-cdrom
Name=Mount Disk/Image
Profiles=mount;

[X-Action-Profile mount]
SelectionCount==1
Exec=/usr/share/file-manager/scripts/mount.sh %F
Basenames=*.iso;*.nrg;*.bin;*.img;*.mdf;*.sda*;*.sdb*;*.sdc*;*.sdd*;*.sdx*;*.hda*;*.hdb*;*.hdc*;*.hdd*;*.hdx*;*.sd*;*.hd*;
Matchcase=false
MimeTypes=all/allfiles;
Schemes=file;