[Desktop Entry]
Type=Action
TargetToolbar=true
ToolbarLabel=Queue in VLC
Name=Queue in VLC
Icon=vlc
Profiles=foobar;

[X-Action-Profile foobar]
SelectionCount=>1
Exec=vlc %F
MimeTypes=audio/*;video/*;
Schemes=file;